.userWrap{
    height: auto;
    padding: 10px;
    width: 90%;
    margin-top: 10px;
    border-radius: 1px;
    align-items:flex-start;
    color: grey;
    transition: ease-in 0.2s;
}

.userName{
    display: inline-block;
}